<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cryptoknight|About US</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../static/aboutus.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
	<div class="navbar flex-container">
		<div class="title">CryptoKnight</div>
		<div class="nav-options">
		<a class="nav-op" href="/home">Home</a>
		<a class="nav-op" href="/forecast">Forecast</a>
		<a class="nav-op" href="/mining">Start Mining!</a>
		<a class="nav-op" href="">About Us</a>
		<a class="nav-op" href="">Contact Us</a>
		</div>
	</div>
	<center>
		<div class="titleabout">About Us</div>
		<div class="desc1">Many individuals and organizations are interested in cryptocurrencies and want to start investing in it. The only reason, why they are not able to invest in cryptocurrencies is because they don't know where to start.</div>
		<div class="why1">Why Choose Us?</div>
		<div class="desc2">We have made a web-app that accurately forecast values of cryptocurrencies which help users to decide when to buy/sell the currencies. In addition to that we also allow the users to effectively mine the cryptocurrencies from the web-app itself.</div>
		<div class="ourteam">Our Team</div>
		<img src="../static/team1.jpg" alt="" class="img1">
		<img src="../static/team2.jpg" alt="" class="img2">
		<img src="../static/team3.jpg" alt="" class="img3">
		<img src="../static/team4.jpg" alt="" class="img4">
		<img src="../static/team5.jpg" alt="" class="img5">
		<img src="../static/team6.jpg" alt="" class="img6">
	</center>
	<div class="info">Read Me!</div>
	<center>
		<div class="infodesc">The main objective of our study is to forecast the bitcoin price with improved efﬁciency using deep learning models and minimizing the risks for the investors as well as policy-makers. We have implemented two deep learning techniques such as LSTM and GRU as prediction models. LSTM and GRU models are more capable of recognizing long-term dependencies. In this study, we have only compared to basic deep learning-based models, i.e., LSTM and GRU. However, it needs to investigate further to enhance the accuracy of the deep learning-based prediction models by considering different parameters in addition to the previous one.In our study, we have not considered other cryptocurrencies such as ripple, ethereum, lite coin, and others.</div>
	</center>
</body>
</html>