<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Cryptoknight-About US</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/jcarousel.css" rel="stylesheet" />
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />


</head>
<body>
<div id="wrapper">
		
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
	</div>
	</section>
	
	<section id="content">
	<div class="container">
					
					<div class="about">
					
						<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>We are awesome <span class="color">TEAM</span></h3>
									<p>Many individuals and organizations are interested in cryptocurrencies and want to start investing in it. The only reason, why they are not able to invest in cryptocurrencies is because they don't know where to start.
									</p>
                                    	
								</div>
								
							</div>
						</div>
						
						<hr>
						<br>
						
						<div class="row">
							<div class="col-md-4">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>Why Choose Us?</span></h3>
								</div>
								<p>
									We have made a web-app that accurately forecast values of cryptocurrencies which help users to decide when to buy/sell the currencies. 
									In addition to that we also allow the users to effectively mine the cryptocurrencies from the web-app itself.
								  </p>
							</div>
							
							
						</div>
						
						 						
						 
						<br>
						<!-- Our Team starts -->
				
						<!-- Heading -->
						<div class="block-heading-six">
							<h4 class="bg-color">Our Team</h4>
						</div>
						<br>
						
						<!-- Our team starts -->
						
						<div class="team-six">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team1.jpg" alt="" width="300" height="2000">
										<!-- Name -->
										<h4>Adhith sankar</h4>
										
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team2.jpg" alt="">
										<!-- Name -->
										<h4>Avi Tewari</h4>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team3.jpg" alt="">
										<!-- Name -->
										<h4>Keshav Rao</h4>
										</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<br>
										<br>
										<img class="img-responsive" src="img/team4.jpg"  alt="">
										<!-- Name -->
										<h4>Srivatsaan S</h4>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<br>
										<br>
										<br>
										<br>
										<img class="img-responsive" src="img/team5.jpg" alt="">
										<!-- Name -->
										<h4>Pooja Ravi</h4>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<br>
										<br><br>
										<img class="img-responsive" src="img/team6.jpg" alt="">
										<!-- Name -->
										<h4>Joshika</h4>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Our team ends -->
					  
						
					</div>
									
				</div>
	</section>
	<section id="clients">
        <div class="container">
            	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Info</h2>The main objective of our study is to forecast the bitcoin price
					with improved efﬁciency using deep learning models and minimizing the risks for
					the investors as well as policy-makers. We have implemented two deep learning
					techniques such as LSTM and GRU as prediction models. LSTM and GRU models are
					more capable of recognizing long-term dependencies. In this study, we have only
					compared to basic deep learning-based models, i.e., LSTM and GRU. However, it needs
					to investigate further to enhance the accuracy of the deep learning-based prediction
					models by considering different parameters in addition to the previous one.In our study,
					we have not considered other cryptocurrencies such as ripple, ethereum, lite coin, and
					others.</div>
				<br/>
			</div>
		</div>
            <div class="row">
                <div class="col-md-2 col-sm-4 client">
                   <a href="https://github.com/CodeSavitar"></a>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <a href="https://github.com/KeshavRao-exe"></a>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <a href="https://github.com/VatsaanS"></a>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <a href="https://github.com/AviTewari"></a>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <a href="https://github.com/01pooja10"></a>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <a href="https://github.com/mjoshikha"></a>
                </div>
            </div>
        </div>
    </section> 
	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Our Contact</h5>
					<address>
					<strong>Cryptoknight</strong><br>
					<a href="https://github.com/KeshavRao-exe/Data_X_Project"></a><br>
					</address>
					<p>
						<i class="icon-phone"></i> +91 8807059999<br>
						<i class="icon-envelope-alt"></i> Cryptoknight.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Quick Links</h5>
					<ul class="link-list">
						<li><a href="#">Home</a></li>
						<li><a href="#">Mining</a></li>
						<li><a href="#">forecasting</a></li>
						
					</ul>
				</div>
			</div>
			
			
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy;Cryptoknight 2021 All right reserved. By </span><a href="#" target="_blank">B1T6</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.linkedin.com/in/adhith-sankar-481825156/" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>

</body>
</html>