<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar flex-container">
            <div class="title">CryptoKnight</div>
            <div class="nav-options">
            <a class="nav-op" href="">Home</a>
            <a class="nav-op" href="forecast">Forecast</a>
            <a class="nav-op" href="mining">Start Mining!</a>
            <a class="nav-op" href="">About Us</a>
            <a class="nav-op" href="">Contact Us</a>
            </div>
        </div>
        
        <img src="../static/my_plot.png" alt="Chumma"></img>
        <!-- <img src="{{url_for('static',filename = './my_plot.png')}}" ></img> -->
          
    </body>
</html>